<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="programaciondario_1.proyectodemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SumadorActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Registrar_Ingreso"
            android:theme="@style/AppTheme" />
        <activity android:name=".menu1" />
        <activity android:name=".registrar_egreso" />
        <activity android:name=".Crear_Transferencia"></activity>
    </application>

</manifest>